# Ignore local environment & secrets
.env
.venv/
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]


# Ignore development folders
archive/
src/test_scripts/
tests/
.git/
.gitignore

mlflow.db

*.db-wal
*.db-shm
*state.db
film_gpt.db
mlflow.db
ci_mlflow.db